:root {
    --primary: #b4e4db;
    --secondary: #86bff1ab;
    --gradient: linear-gradient(6deg, #4e0d09 10%, #1c0505 68%, #791a12 84%);
}

.top-bar {
    background-color: var(--secondary);
    background-image: var(--gradient);
}

.menu {
    background-image: linear-gradient(6deg, #300a08 0%, #280706 40%, #791a12 80%);
    border-radius: 10px;
}

.menu li {
    border-radius: 10px;
}

.menu li a {
    color: var(--primary); 
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
    transition: all .5s ease-out;
}

.menu li a:hover {
    background: #523c44;
    border-radius: 15px;
    text-shadow: none;
}

body {
    font-family: 'Lobster', cursive;
    font-size: 26px;
    line-height: 1.8;
    color: var(--primary);
    background-color: var(--secondary);
    background-image: var(--gradient);
}

h1, h2, h3 {
    font-family: 'Lobster', cursive;
}

.hero {
    background-image: url("../images/cocktail.gif");
    background-size: 115%;
    background-position: center;
    
}

.hero-form {
    border: 3px solid rgba(78, 13, 9, 0.8);
    background-color: var(--secondary);
    background-image: var(--gradient);
    padding: 20px;
    color: var(--secondary-color);
    width: 90%;
    margin: 3.5%;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(28,5,5,0.5);
}

label {
    font-size: 19px;
    font-family: 'Courgette', cursive;
    color: var(--primary);
}

.button {
    background-color: #791a12;
    background-image: linear-gradient(6deg, #4e0d09 0%, #791a12 52%, #8e8b5d 90%);
    transition: all .5s ease-out;
    background-size: 1px 100px;
    background-position: 0 -10px;
    border-radius: 10px;
    color: var(--primary);
}

.button:hover {
    background-position: 1px -50px;
    color: var(--primary);
}

.button:focus {
    outline: none;
}

section{
    padding: 60px;
}

.section-title {
    font-size: 48px;
    border-bottom: 3px solid var(--primary);
    color: var(--primary);
    padding-bottom: 20px;
    text-align: center;
    margin: 0 auto 35px auto;
    width: 50%;
}

.information {
    width: 100%;
}

.information input, .information textarea {
    border: 1px solid var(--primary);
    display: block;
    padding: 7px 15px;
    font-size: 16px;
    color: var(--primary);
    width: 100%;
    margin-bottom: 15px;
    margin-top: 5px;
    border-radius: 10px;
    background-color: rgba(255,255,255, 0.75);
}

.information p, .information address, .information address a {
    margin: 20px 0;
    line-height: 1.5;
    font-size: 19px;
    font-style: normal;
    color: var(--primary);
    font-family: 'Courgette', cursive;
}

.map {
   padding: 5vw; 
}

